<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oldmgdn.boost">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdvDetailedActivity.AdvDetailedActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".IntroActivity.IntroActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegionPicker.RegionPicker" />
        <activity android:name=".ChooseCarActivity.ChooseCarModelActivity" />
        <activity android:name=".ChooseCarActivity.ChooseCarActivity" />
        <activity android:name=".FeedbackActivity.FeedbackActivity" />
        <activity android:name=".ChatWithVendor.ChatWithVendorActivity" />
        <activity android:name=".DigestActivity.DigestDetailedActivity" />
        <activity android:name=".DigestActivity.DigestActivity" />
        <activity android:name=".RequestInfoActivity.RequestInfoActivity" />
        <activity android:name=".RequestActivity.RequestActivity" />
        <activity
            android:name=".LoginActivity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyClryIG3sZJ0qHgsUTScHCkrKuaAtkJRkg" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fa32f93faskr30flzkvsv0rs0k" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.oldmgdn.boost.ChatWithVendor.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>